body {
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem;
}
.card {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  width: 250px;
  padding: 0.9rem;
  margin-bottom: 1rem;
}

.img {
  width: 100%;
  border-radius: 0.5rem;
}

.article {
  padding: 1rem 0;
  text-align: center;
}
.title {
  color: #1e2c42;
  display: block;
  font-weight: bold;
  line-height: 1.3rem;
  margin-bottom: 10px;
  font-size: 18px;
}
.body {
  color: #a0abb8;
  font-size: 15px;
}
